In [ ]:
CREAE TABLE Users (
    userID INT PRIMARY KEY,
    username varchar(255) NOT NULL,
    password varchar(255) NOT NULL,
    email varchar(255) NOT NULL
);

CREATE TABLE reviews (
    reviewID INT PRIMARY KEY,
    userID INT NOT NULL,
    placeID varchar(255) NOT NULL,
    content varchar(255),
    rating INT(1) NOT NULL,
    date DATE NOT NULL
);


CREATE TABLE business (
    placeID varchar(255) PRIMARY KEY,
    name varchar(255),
    address varchar(255),
    businessType varchar(255)
);